@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #72008f 0%, #28024b 100%), #1c0130;
  max-width: 900px;
  margin: 0 auto;
  padding: 4em;
  color: #FFFFFF;
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 900px) {
  body {
    max-width: 100%;
    padding: 1.5em;
  }
}

a {
  color: #ffffff;
}

header {
  margin-bottom: 4em;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.23;
  margin: 0;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    line-height: 1.4;
  }
}

h2 {
  font-size: 2.441rem;
  text-transform: uppercase;
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: .5em;

}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  line-height: 1.6;
}

section {
  margin-bottom: 6em;
}

a.big-link {
  display: block;
  font-weight: bold;
  margin-bottom: .8em;
}

@media screen and (max-width: 900px) {
  a.big-link {
    font-size: 1rem;
  }
}

p.social-links>span {
  display: block;
  font-size: 2rem;
}

p.social-links>a {
  text-decoration: none;
  font-weight: bold;
}

p.section-blurb {
  line-height: 1.2;
  font-size: 1rem;
  margin-bottom: 2em;
}


.works-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.works-container__card {
  /* border: 8px solid blue; */
  flex-grow: 0;
  flex-basis: 15rem;
  flex-grow: 1;
}

.works-container__card>img {
  max-width: 5em;
}

.works-container__card>h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: .8em;
}

footer>p {
  margin: 2em 0;
}