@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans:wght@400;700&display=swap');

:root {
  --background-clr: #f5f2ed;
  --foreground-clr: #444241;
  --accent-clr: #ad9f8f;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background: var(--background-clr);
  margin: 0 auto;
  padding: 4em;
  color: var(--foreground-clr);
  font-family: 'Merriweather', serif;
  line-height: 1.7;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  body {
    max-width: 100%;
    padding: 1.5em;
  }
}

a {
  color: #ffffff;
}

header {
  margin-bottom: 4em;
}

header>h1 {
  font-weight: bold;
  margin: 0 auto;
}

section.highlights {
  display: flex;
  gap: 1em;
}

section.highlights>* {
  flex-basis: 100%;
}

section.highlights .highlight {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
  padding: 0;
  margin: 0;
  padding: 1em;
  border-radius: 8px;
}

section.dark {
  background-color: var(--foreground-clr);
  color: var(--background-clr);
}

section {}

.entry {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
}

.entry-info {
  flex-basis: 60%;
}

.entry>p {
  margin-left: auto;
  font-weight: bold;
}

.entry>p>span {
  font-weight: 100;
  font-style: italic;
  text-align: right;
}

li {
  margin-bottom: .75em;
}

.section-head>h2 {
  margin-bottom: .8em;
}

.section-head__blurb {
  line-height: 1.2;
  font-size: 1rem;
  margin-bottom: 2em;
}


@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    line-height: 1.4;
  }
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  line-height: 1.6;
}

section {
  margin-bottom: 6em;
}

footer>p {
  margin: 2em 0;
}